@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is what Mainstream Music Group is all about...</p>

<br />
<br />

<a href="youtube.com">GO TO YOUTUBE</a>
