@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    5889 Wayne Center Drive<br />
    Allenton, WI 53002<br />
    @*<abbr title="Phone">P:</abbr>*@
    262-555-0000
</address>
<br />
<address>
    
    <strong>Contact Owner:</strong> <a href="mailto:dmiller5889@gmail.com">dmiller5889@gmail.com</a><br />

    <strong>Contact Tech:</strong> <a href="mailto:krisfalk2007@hotmail.com">krisfalk2007@hotmail.com</a><br />
</address>
