@{
    ViewData["Title"] = "Home Page";
}





<br />
<center>
    <h1>Mainstream Music Group</h1>
    <img src="~/images/mainstream_logo.png" />
</center>
<br />
<h3>Here is our latest news:</h3>
<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
</ul>
<br />


<style>
    img{
        height:300px;
        width:300px;
    }
</style>