@{
    ViewData["Title"] = "Home Page";
}





<br />
<h1>Mainstream Music Group</h1>
<br />
<h3>Here is out latest news:</h3>
<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
</ul>
<br />
